# The bot token, found at https://discord.com/developers/applications
TOKEN="token"

# The ID for the guild you want the bot to work in
GUILD="id"

# The reason the bot will provide when banning a user, delete this key to use the default reason
REASON="Banned"

# If the bot will delete the messages of a user if they are banned,
# set to anything but true to stop the bot from removing messages
DELETE_MESSAGES=true